* {
	margin: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin-top: 10em;
	margin:0;
	width:100%;
	height:100vh;
  	background:white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container{
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}


#Inicio {
	width: 100%;
	background-color: #488631;
	height: auto;
	text-align: center;
}

#Isologo {
	width: 27%;
	height: 27%;
	margin-left: 37.5%;
	padding-top: 2%;
	padding-bottom: 1%;
}

#Isologo img {
	-webkit-filter: brightness(5);
	filter: brightness(5);
}

#Nombre {
	font-family: 'Leckerli One';
	padding-bottom: 1%;
	font-size: 20px;
	color: white;
}

.Menu {
	margin-left: 0;
	display: flex;
	width: 100%;
	height: auto;
	align-items: center;
	border-bottom: 2px solid grey;
}

.Menu span {
	display: block;
	margin-top: 1.5%;
	margin-left: 20px;
	margin-right: 20px;
	width: 100%;
}

.Menu img {
	display: block;
	border-radius: 100px;
	margin-bottom: 1em;
	margin-top: 1em;
	margin-right: 20px;
}

.Menu:hover {
	border-bottom: 3px solid grey;
}

.Menu:hover img {
	
}

.Menu:hover #pizza {
	box-shadow: 0px 1px 3px 3px red;
}

.Menu:hover #mapa {
	box-shadow: 0px 1px 3px 3px yellow;
}

.LogoMenu {
	width: 7em;
	height: 7em;
}

#pizza {
	background-color: red;
}

#mapa {
	background-color: yellow;
}