* {
	margin: 0;
}

#Inicio {
	width: 100%;
	background-color: #488631;
	height: auto;
	text-align: center;
}

#Isologo {
	width: 27%;
	height: 27%;
	margin-left: 37.5%;
	padding-top: 2%;
	padding-bottom: 1%;
}

#Isologo img {
	-webkit-filter: brightness(5);
	filter: brightness(5);
}

#Nombre {
	font-family: 'Leckerli One';
	padding-bottom: 1%;
	font-size: 250%;
	color: white;
}

.Menu {
	margin-left: 20%;
	display: flex;
	width: 60%;
	height: auto;
	align-items: center;
	border-bottom: 2px solid grey;
	font-family: "Roboto";
}

.Menu span {
	display: block;
	margin-top: 1.5%;
	margin-left: 20%;
	width: 30%;
}

.Menu img {
	display: block;
	border-radius: 100px;
	margin-bottom: 1em;
	margin-top: 1em;
	margin-left: 20%;
}

.Menu:hover {
	border-bottom: 3px solid grey;
}

.Menu:hover img {
	
}

.Menu:hover #pizza {
	box-shadow: 0px 1px 3px 3px red;
}

.Menu:hover #mapa {
	box-shadow: 0px 1px 3px 3px yellow;
}

.LogoMenu {
	width: 7em;
	height: 7em;
}


#promo {
	background-color: yellow;
}


#pizza {
	background-color: red;
}

#mapa {
	background-color: yellow;
}

@media screen and (min-width: 100px) and (max-width: 600px) {

* {
	margin: 0;
}

#Inicio {
	width: 100%;
	background-color: #488631;
	height: auto;
	text-align: center;
}

#Isologo {
	width: 40%;
	height: 40%;
	padding-top: 2%;
	margin-left: 30%;
	padding-bottom: 1%;
}

#Nombre {
	font-family: 'Leckerli One';
	padding-bottom: 1%;
	font-size: 100%;
	color: white;
}

.Menu {
	display: flex;
	width: auto;
	height: auto;
	align-items: center;
	border-bottom: 2px solid grey;
	font-family: "Roboto";
}

.Menu span {
	margin-left: 0%;
	display: block;
	margin-top: 1.5%;
}

.Menu img {
	display: block;
	border-radius: 100px;
	margin-bottom: 1em;
	margin-top: 1em;
}

.Menu:hover {
	border-bottom: 3px solid grey;
}

.Menu:hover img {
	
}

.Menu:hover #pizza {
	box-shadow: 0px 1px 3px 3px red;
}

.Menu:hover #mapa {
	box-shadow: 0px 1px 3px 3px yellow;
}

.LogoMenu {
	width: 7em;
	height: 7em;
}

#promo {
	background-color: yellow;
}


#pizza {
	background-color: #4D71D2;
}

#mapa {
	background-color: red;
}

}